* {
  margin: 0;
  box-sizing: border-box;
}

svg {
  cursor: move;
}

.label {
  text-anchor: middle;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 12px;
}

line {
  stroke: black;
  stroke-width: 2px;
}

line.cross-field {
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 3,1;
}

line.highlight {
  stroke: goldenrod;
  stroke-width: 6px;
}

#search {
  margin: 4px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

#search.error {
  font-family: 'Roboto Condensed', sans-serif;
  background: red;
}

.card:hover {
  filter: drop-shadow(0 0 1em lightgray);
}

.card.focus {
  filter: drop-shadow(0 0 1em crimson);
}

.card.lastFocus {
  filter: drop-shadow(0 0 4px crimson);
}


#reset-zoom {
  display: none;
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  width: 100px;
  height: 30px;
  cursor: pointer;
}

#reset-zoom.visible {
  display: block;
}