* {
  margin: 0;
  box-sizing: border-box;
}

.label {
  alignment-baseline: central;
  text-anchor: middle;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 12px;
}

line {
  stroke: black;
  stroke-width: 2px;
}

line.cross-field {
  stroke: red;
  stroke-width: 3px;
  stroke-dasharray: 5,5;
}

#search {
  margin: 4px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

#search.error {
  font-family: 'Roboto Condensed', sans-serif;
  background: red;
}

foreignObject:hover {
  filter: drop-shadow(0 0 1em lightgray);
}

foreignObject.focus {
  filter: drop-shadow(0 0 1em crimson);
}

