@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.card {
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  font-family: "Lora", serif;
}

.card .title {
  font-family: "DM Serif Display", serif;
}