#arrows {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
}

#arrows .row {
  display: flex;
  flex-direction: row;
}

#arrows .row > * {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

#arrows .row .key {
  background: #eee;
  font-weight: bold;
  user-select: none;
}
