:root {
  /* hue and saturation values from
   * https://coolors.co/5bc0eb-fde74c-9bc53d-e55934-fa7921. */
  --hs1: 198, 78%;
  --hs2: 53, 98%;
  --hs3: 79, 54%;
  --hs4: 13, 77%;
  --hs5: 24, 96%;
  --hs6: 280, 96%;
  --hs7: 250, 46%;
  --hs8: 130, 96%;
  --hs9: 220, 6%;
  --lumin1: 75%;
  --lumin2: 85%;

  --gradient-angle: 45deg;
}

.card-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.card-container.culture{ background: linear-gradient(var(--gradient-angle), hsl(var(--hs1), var(--lumin1)), hsl(var(--hs1), var(--lumin2))); }
.card-container.design{ background: linear-gradient(var(--gradient-angle), hsl(var(--hs2), var(--lumin1)), hsl(var(--hs2), var(--lumin2))); }
.card-container.general{ background: linear-gradient(var(--gradient-angle), hsl(var(--hs3), var(--lumin1)), hsl(var(--hs3), var(--lumin2))); }
.card-container.geography{ background: linear-gradient(var(--gradient-angle), hsl(var(--hs4), var(--lumin1)), hsl(var(--hs4), var(--lumin2))); }
.card-container.math{ background: linear-gradient(var(--gradient-angle), hsl(var(--hs5), var(--lumin1)), hsl(var(--hs5), var(--lumin2))); }
.card-container.science{ background: linear-gradient(var(--gradient-angle), hsl(var(--hs6), var(--lumin1)), hsl(var(--hs6), var(--lumin2))); }
.card-container.space{ background: linear-gradient(var(--gradient-angle), hsl(var(--hs7), var(--lumin1)), hsl(var(--hs7), var(--lumin2))); }
.card-container.war{ background: linear-gradient(var(--gradient-angle), hsl(var(--hs8), var(--lumin1)), hsl(var(--hs8), var(--lumin2))); }
.card-container.unknown{ background: linear-gradient(var(--gradient-angle), hsl(var(--hs9), var(--lumin1)), hsl(var(--hs9), var(--lumin2))); }

header .title, footer .inventor {
  flex: 1;
}

.inventor.unknown:before {
  content: 'Inventor';
  opacity: 0.3;
}
.location.unknown:before {
  content: 'Location';
  opacity: 0.3;
}


/*
header .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
*/

header .year {
  padding-left: 10px;
}

header, footer {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
}

header {
  font-weight: bold;
  margin-top: 8px;
  border-bottom: 1px solid #333;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

img.field {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

footer {
  font-size: 16px;
  font-weight: normal;
  margin-top: 8px;
  border-top: 1px solid #333;
  padding-top: 8px;
  margin-bottom: 8px;
}

.card-body {
  flex-grow: 1;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  hyphens: auto;
  overflow-y: hidden;
}

